body {
  margin: 10px;
  padding: 60px;
  border-style: double;
  font-family: sans-serif;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: .5rem;
  /* spacing between items */
}

.menu li a {
  color: #101011;
  /* Dark text */
  text-decoration: none;
  /* Remove underline */
  padding: 17px 15px;
  /* Spacing inside links */
  display: inline-block;
  border-radius: 8px;
  /* Rounded corners */
}

.menu li a:hover {
  background-color: #f0f0f0;
  /* Light hover background */
  color: #0777ef;
}

.my-image {
  width: 460px;
  height: 300px;
}

/* Grid container */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "top"
  "main"
  "sidebar"
  "footer";
    /*Your code goes here*/
  gap: 1rem;
  padding: 1rem;
}

/* Areas */
.top {
  grid-area: top;
    /*Your code goes here*/
  background: rgb(239, 115, 84);
  padding: 1rem;
  text-align: left;
  border-radius: 12px;
}

.sidebar {
  grid-area: sidebar;
  background-color: aquamarine;
  padding: 1rem;
  border-radius: 8px;
    /*Your code goes here*/
}

main {
  background: white;
  padding: 2rem;
  border-radius: 8px;
}

#footer {
  grid-area:footer;
  /*Your code goes here*/
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

/* Form styling */
input {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #b00;
  color: white;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgb(3, 153, 0);
}

/*  Default: Mobile styles   */
@media (max-width: 599px) {

  body {
    border-style: solid;
    background-color: rgb(220, 227, 187);
  }

  .top {
    background-color: rgb(212, 121, 10);
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "sidebar"
      "main"
      "footer";
  }

  .menu li {
    display: block;
  }

}

/*  Tablet: 600px to 899px   */
@media (min-width: 600px) and (max-width: 899px) {
  body {
    border-style: solid;
    background-color: royalblue;
    /*Your code goes here*/
  }

  .top {
        background-color: rgb(212, 121, 10);
    /*Your code goes here*/
  }

  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "top top"
      "sidebar main"
      "footer footer";
  }
}

/* DESKTOP */
@media (min-width: 900px) {
  .wrapper {
    grid-template-columns: 2fr 1fr 2fr;
    border: 2px solid rgb(27, 27, 26);
    grid-template-areas:
    "top top top"
    "main main sidebar"
    "footer footer footer";
      /*Your code goes here*/
  }

  .wrapper>* {
    border: 2px solid rgb(27, 27, 26);
    padding: 10px;
  }
}